<h1>Environments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <%= render @environments %>
  </tbody>
</table>
<p><%= link_to "New", new_environment_url %></p>
